.headertable{border-bottom: 2px solid #ff6600; margin-bottom: 0px;}
.headertable td{border-top: none;}
.headertd{width: 50%;}
.logo{width: 250px; margin-bottom: 39px;}
.addfieldbtn{margin-top: 5px; float: right;}
.customer-head{  border-bottom: 1px solid #dadada; padding: 0 0 18px 0; margin-bottom: 20px;}
.invoice-table.table td, .table th { padding: 15px 10px;}
.companylogo{width: 35%; margin: 0;}
.desctable { margin-top: 15px;}
.rowborder td{padding: 5px 0;}
.bankdetails { color: #ff6600; width: 96%; margin-left: 59px; padding: 10px 0px;}
.bankdetails1{margin-left: 76px; padding: 10px 0px;}
.bankdetails1 td {  padding: 10px 20px;}
.gj-datepicker {display: table; display: block ;padding: 4px 0!important;font-size: 1rem;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;width:100%;}
.gj-datepicker [role=input]{border:1px solid #aaa;}
.gj-datepicker-md [role=right-icon] {
    right: 8px!important;
    top: 8px!important;
}
.form-control.gj-datepicker:focus{box-shadow:0 0 0 0.1rem rgba(0,123,255,.25);border:0;}

