.invoice{width: 60px;}
/* .btndiv{margin-top:20px; margin-bottom: 20px; clear: both;} */
.btndiv{position: fixed;right: 4%;}
.maindiv{margin-left: 20px;}
.compaddress{width: 60%;}
.companytext{color: #ff6600;}
.companylogo{width: 80%; text-align: right; height: auto; margin-top: 20px; padding-right: 0px;}
.tableborder{width: 100%;border-bottom: 2px solid #f0ad4e; margin-bottom: 10px; margin-top: 10px;}
.cust-lable{color: #ff6600; font-weight: 600; width: 500px;}
.customerdetails{vertical-align: top;}
.desctable{margin-top: 40px; width: 100%;}
.descheadbackgrund{background-color: #ff6600; color: #fff;}
.itemstotal{padding-right: 10px;}
.itemstotal-fontcolor{color: #ff6600;}
.rowborder{border-bottom: 1px solid;}
.lastbottomborder{border-bottom: 2px solid #f0ad4e;}
.thnxmsg{padding: 40px 0px; text-align: right; color: #ff6600;}
.paymentdiv{width: 96%;margin-left: 59px; padding: 10px 0px;}
.bankdetails{margin-left: 40px; margin-top: 20px; color: #ff6600; font-size: 19px;}
/*.bankdetails1{margin-left: 55px;}*/
.footer{margin-top: 90px; margin-left: 60px;}
.footer-text{color: #ff6600;}
.invoiceseries{font-size: 35px; position: relative; right: 174px; top: 326px; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); width: 390px;}
.custom-label{color: #ff6600;}